<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EmergencyView</title>

    <script src="js/uhttp.js"></script>

    <script src="script/jquery.js"></script>
    <script src="script/vue.js"></script>
    <script src="script/leaflet/leaflet.js"></script>
    <script src="script/lodash.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/leaflet.css">
    <link rel="stylesheet" href="css/imgColor.css">
</head>
<body>
   
    
    <div id="vue" >
        <div style="display: flex;">

            <div id="map"></div>
            <div>
                <div style="display:flex">

                    <div class="buttonFilter" @click="filterTruck=!filterTruck" :class="filterTruck ? 'active':''">
                        <img style="height:20px" src="img/firetruck.png" alt="firetruckicon">
                    </div>
                    <div class="buttonFilter" @click="filterFire=!filterFire" :class="filterFire ? 'active':''">
                        Fire
                    </div>
                </div>
                <div v-for="trucks in fireStation" >
                    <h5>{{trucks[0].name}}</h5>
                    <div>
                        <div v-for="truck in trucks" class="truckInfo" @mouseover="hoverTruckInfo(truck.fireTruckID,1)" @mouseleave="hoverTruckInfo(truck.fireTruckID,0)">
                            <div>
                                <img class="iconTruck blue" src="img/firetruck.png" alt="firetruckicon">
                            </div>
                            <div>
                                Camion {{truck.libState}}
                                <br>
                                <sub v-if="fires.length && truck.idFire">incendie {{truck.idFire}}</sub>
                                <sub v-if="truck.state==2 && !truck.idFire">Retour à la caserne</sub>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:95vh;overflow-y:auto">
                <div v-for="notif in notifications" class="notif" @mouseover="hoverFireInfo(notif.id,true)" @mouseleave="hoverFireInfo(notif.id,false)">
                    {{getLibNotif(notif.type)}}
                    <div>
                    Coordonné : 
                    {{sensors.find(s=>s.id==notif.id).latitude}}
                    {{sensors.find(s=>s.id==notif.id).longitude}}
                    </div>
                    <div>
                        Intensité : 
                        {{notif.i}}
                    </div>
                    <div class="notifDate">
                        {{new Date(notif.time).toLocaleTimeString()}}
                    </div>
                </div>
            </div>
        </div>
        </div>
        <button onClick="enableNotif()">Autoriser les notifications</button>
    
    
    <script src="js/main.js"></script>
</body>
</html>