.blue{
    filter: invert(8%) sepia(95%) saturate(6968%) hue-rotate(247deg) brightness(110%) contrast(145%);
}

.red{
    filter: invert(16%) sepia(85%) saturate(6147%) hue-rotate(0deg) brightness(99%) contrast(122%);
}