.iconTruck{
    width:50px
}
.truckInfo{
    border: 1px
    white solid;
    display: flex;
}
.truckInfo:hover{
    border: 1px
    lightgray solid;
    border-radius: 5px;
    background:
    beige;
    cursor: pointer;
}
#map{
    height:600px;
    width:600px
}
.buttonFilter{
    border: 1px solid lightgray;
    border-radius : 5px;
    width : 100px;
    height:25px;
    text-align: center;
    cursor:pointer
}
.active{
    background:#F0F0F0;
    box-shadow: 2px 2px 1pxgray;
}
.notif{
    width: 400px;
    padding: 5px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.notif{
    width:95%
}
.notifDate{
    color:gray;
    text-align: right;
}